/* Place the navbar at the bottom of the page, and make it stick */
body {
    margin: 0;
}

.nav_container {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav {
    background-color: #333;
    width: 100%;
    height: 4em;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-image: url("/src/assets/logo.png");
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}